html{
    color: white;
    background-color: #1A1C25;
}

h1{
    color: white;
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

p{
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;

}


form{
    margin: 0 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #2A2A47;
    padding: 40px;

}

form label{
    align-self: start;

}

form *:not(:last-child){
    margin-bottom: 20px;
}

input{
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 5px;
}



button{
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   background-color: #36AF65;
   border-radius: 5px;
   color: white;
   border-style: none;
   padding: 20px;
}

html{
    padding: 30px;
}

option{
    padding:5px ;
}



